.App {
  text-align: center;
}

.table-wrapper {
  padding: 0 25px;
  margin: 0 40px 40px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  box-shadow: 5px 5px 5px 5px #ebebeb;
}

.overflow-wrapper {
  overflow-x: auto;
}

.table-heading {
  font-size: 25px;
}

.table-container {
  display: grid;
  margin: 2em auto;
  min-width: 900px;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
}

.table-header {
  font-weight: 500;
  padding: 5px 0;
  background: #ebebeb;
}

.grid-cell {
  border-top: solid 1px #ebebeb;
  padding: 5px 0;
}
